---
import BaseLinkButton from '../../../components/BaseLinkButton.astro';

type InquiryType = {
  id: string;
  value: string;
}[];
const inquiryType: InquiryType = [
  { id: 'type01', value: 'お仕事のご依頼・ご相談' },
  { id: 'type02', value: 'お見積りのご相談' },
  { id: 'type03', value: '採用について' },
  { id: 'type04', value: 'その他' },
];

const findOut = ['選択してください', 'Google/Yahoo検索', 'SNS', 'ブログ', '友人や知人', 'その他'];
---

<section class="contact-form">
  <p class="contact-form-heading">Webサイトの制作のご依頼やお見積りなど、<wbr />お気軽にご相談ください。</p>
  <div class="contact-form-body">
    <form>
      <!-- お問い合わせ種別 -->
      <div class="form-item">
        <div class="form-title">
          お問い合わせ種別
          <span class="form-require">*必須</span>
        </div>
        <div class="select-radio-wrapper">
          {
            inquiryType.map((inquiry) => (
              <span class="select-radio">
                <input type="radio" id={inquiry.id} name="type" value={inquiry.value} />
                <label for={inquiry.id}>{inquiry.value}</label>
              </span>
            ))
          }
        </div>
      </div>

      <!-- お名前 -->
      <div class="form-item">
        <label for="name" class="form-title">
          お名前
          <span class="form-require">*必須</span>
        </label>
        <input type="text" id="name" name="name" class="form-input" required />
      </div>

      <!-- 会社名 -->
      <div class="form-item">
        <label for="company" class="form-title">
          会社名
          <span class="form-require">*必須</span>
        </label>
        <input type="text" id="company" name="company" class="form-input" required />
      </div>

      <!-- メールアドレス -->
      <div class="form-item">
        <label for="email" class="form-title">
          メールアドレス
          <span class="form-require">*必須</span>
        </label>
        <input type="text" id="email" name="email" class="form-input" required />
      </div>

      <!-- 電話番号 -->
      <div class="form-item">
        <label for="tel" class="form-title">
          電話番号
          <span class="form-note">（半角数字ハイフンなし）</span>
        </label>
        <input type="tel" id="tel" name="tel" class="form-input" />
      </div>

      <!-- お問い合わせ内容 -->
      <div class="form-item">
        <label for="comment" class="form-title">お問い合わせ内容</label>
        <textarea
          id="comment"
          name="comment"
          placeholder="お問い合わせ内容を具体的にご記入くださいませ。"
          class="form-textarea"></textarea>
      </div>

      <!-- PON DESIGNをどちらでお知りになりましたか？ -->
      <div class="form-item">
        <label for="comment" class="form-title"
          >PON DESIGNをどちらでお知りになりましたか？
          <span class="form-require">*必須</span>
        </label>
        <select name="job" id="job" class="form-select" required>
          {findOut.map((value) => <option value={value}>{value}</option>)}
        </select>
      </div>

      <!-- 送信するボタン -->
      <div class="form-btn">
        <BaseLinkButton link="#" text="送信する" />
      </div>
    </form>
  </div>
</section>

<style lang="scss">
  @import '../../../scss/main';

  .contact-form {
    width: min(100%, 780px);
    margin-inline: auto;
    padding: 70px 15px;

    @include mq(md) {
      padding: 40px 15px;
    }
  }

  .contact-form-heading {
    word-break: keep-all;
    text-align: center;
    font-size: rem(15);
    letter-spacing: 0.05em;
    margin-bottom: 40px;

    @include mq(md) {
      font-size: rem(14);
      margin-bottom: 30px;
    }
  }

  .contact-form-body {
    padding: 90px;
    background-color: #f7f7f7;

    @include mq(md) {
      padding: 30px;
    }
  }

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .form-title {
    font-size: rem(15);
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 10px;

    .form-require {
      font-size: rem(12);
      color: #391e88;
      margin-left: 5px;
    }
  }

  // お問い合わせ種別
  .select-radio {
    margin-right: 35px;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    @include mq(md) {
      display: flex; // ブロック要素にして一列にする
      margin-right: 0;
      margin-bottom: 5px;
    }

    label {
      font-size: rem(15);
      letter-spacing: 0.05em;
    }
  }

  // form input
  .form-input {
    width: 300px;
    padding: 12px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;

    @include mq(md) {
      width: 100%;
    }
  }
  .form-input[type='tel'] {
    width: 200px;

    @include mq(md) {
      width: 100%;
    }
  }

  .form-note {
    font-weight: 400;
    font-size: rem(12);
  }

  .form-textarea {
    min-width: 600px;
    min-height: 200px;
    padding: 8px;
    resize: both;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;

    @include mq(md) {
      width: 100%;
      min-width: 100%;
    }
  }

  .form-select {
    width: 300px;
    padding: 12px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;

    @include mq(md) {
      width: 100%;
    }
  }

  .form-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
</style>
